@charset "UTF-8";
@media (min-width: 767px) {
    body 
  { 
    background: linear-gradient(#212A31, #D3D9D4); 
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

  } 
  #wrapper { 
    width: 80%;
    height: 90%;
    margin-left: auto; 
    margin-right: auto; 
    background-color:red; 
  } 
  .imgMe{
    padding-top: 1%;
    height: auto;
    width: 50px;
    position: absolute;
    margin-left: 10%;
    transform: translateY(4%)
    
    
  }
  .pfp{
    margin-top: auto;
    margin-bottom: auto;
    padding-left:10px;
    transform: translateY(2px);
    height: auto;
    width: 25px;
    padding-top: 5px;
    
  }
  #footer 
  { 
    padding-left: 3%;
    height:2%;
    padding-bottom: 2%; 
  }
  #banner
  { 
    height:100; 
    padding-top: -5%;
    background-color: #212A31; 
    
  } 
  .Contact{
   
    
  }

  nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav h4 {
    
    width: auto;
    height: 40%;
    font-size: 25px;
    
    
   
    margin-bottom: 30px;
  }
  nav h4 a{
    color: white;
  }
  
  
  .Intro{
    color: white;
    padding-left: 10px;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    
  }
  
  .topban{
  transform: translateY(1%);
  
  }

  .contactbackground{
    padding-left: 10%;
    font-size: 80px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
  }

  .clear
  { 
    clear: both; 
  }


  header{
    position:top;
  }
  .icons a{
    color:white;
    width: 10px;
    height: auto;
  }
}