@charset "UTF-8"; 


/* For Laptops and Big Devices */
@media (min-width: 992px) {
  .txtabout{
    position: absolute;
    left: 5vh;
    top: 5vh;
    font-size: 28px;
    color:azure
  }
  .stitch{
    position: absolute;
    right: 10vh;
    top: 10vh;
    width: 20vh;
    height: auto;
  }
  .fortnite{
    position: absolute;
    right: 10vh;
    bottom: 10vh;
    width: 20vh;
    height: auto;
  }
  .minecraft{
    position: absolute;
    right: 10vh;
    top: 35vh;
    width: 20vh;
    height: auto;
  }
  #myvid{
    position: absolute;
    left: 50vh;
    width: 40vh;
  
    
  }
    .btn {
      padding: 21px 50px;
      font-size: 2.4rem;
    }
  body 
  { 
    background: linear-gradient(#212A31, #D3D9D4); 
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

  } 
  #wrapper { 
    position: relative;
    width: 80%;
    height: 90vh; 
    margin-left: auto;
    margin-right: auto;
    background-color:#2E3944; 
  } 
  #footer 
  { 
    padding-left: 3%;
    height:2%;
    padding-bottom: 2%; 
  }
  #banner
  { 
    height:100px; 
    padding-top: -5%;
    background-color: #212A31; 
    
  } 
  nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav h4 {
    
    width: auto;
    height: 40%;
    font-size: 25px;
    
    
   
    margin-bottom: 30px;
  }
  nav h4 a{
    color: white;
  }
  .pfp{
    margin-top: auto;
    margin-bottom: auto;
    padding-left:10px;
    transform: translateY(2px);
    height: auto;
    width: 75px;
    padding-top: 10px;
    
  }
  .Intro{
    color: white;
    padding-left: 10px;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    
  }
  .imgMe{
    padding-top: 1%;
    height: auto;
    width: 300px;
    position: absolute;
    bottom:0px;
    right: 0px;
    
    
  }

  header{
    position:top;
  }
  .icons a, .icon{
    color:white;
    width: 100px;
  }
}
/* For Iphones */
@media (max-device-width: 600px) {
  .txtabout{
    position: absolute;
    left: 0vh;
    top: 0vh;
    font-size: 14px;
    color:azure
  }
  .stitch{
    position: absolute;
    right: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .fortnite{
    position: absolute;
    right: 18vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .minecraft{
    position: absolute;
    left: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  #myvid{
    position: absolute;
    top: 10px;
    right: 0vh;
    width: 150px;
    height:auto;
     
    
  }
  body 
  { 
background: linear-gradient(#212A31, #D3D9D4); 

font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

  } 
  #wrapper { 
position: relative;
width: 90%;
height: 90vh; 
margin-left: auto; 
margin-right: auto; 
background-color:#2378b8; 
  } 
  nav h1, h3{
    font-size: 35px;
    transform: translateY();
    align-self: middle;
  }
  .imgMe{
padding-top: 1%;
height: auto;
width: 100px;
position: absolute;
bottom:0px;
right: 0px;

  }
  nav h4 {

width: auto;
height: 40%;
font-size: 15px;



margin-bottom: 20px;
  }
  .pfp{
margin-top: auto;
margin-bottom: auto;
padding-left:5px;
transform: translateY(2px);
height: auto;
width: 40px;
padding-top: 10px;

  }
  #footer 
  { 
padding-left: 3%;
height:2%;
padding-bottom: 2%; 
  }
  #banner{ 
height:75px; 
padding-top: -5%;
background-color: #212A31; 

  } 
  .Contact{


  }

  nav{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
  }
  nav h4 a{
  color: white;
  }

  .Intro{
color: white;
padding-left: 10px;
font-size: 50px;
margin-top: auto;
margin-bottom: auto;
vertical-align: middle;

  }
  header{
position:top;
  }
 .artfight{
  transform: translateX(50px);
 } 

  .icons a, .icon{
color:white;
width: 50px;
height: auto;
transform: translateY(100px);

  }
}
/* For Ipads */
@media (max-width: 991px) and (min-width: 601px) {
  .txtabout{
    position: absolute;
    left: 0vh;
    top: 5vh;
    font-size: 24px;
    color:azure
  }
  .stitch{
    position: absolute;
    right: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .fortnite{
    position: absolute;
    right: 24vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  .minecraft{
    position: absolute;
    left: 0vh;
    bottom: 0vh;
    width: 12vh;
    height: auto;
  }
  #myvid{
    position: absolute;
    left: 50%;
    top: 5vh;
    width: 300px;
    height:auto;
    
  }
  body 
{ 
  background: linear-gradient(#212A31, #D3D9D4); 
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

} 
#wrapper { 
  position: relative;
  width: 80%;
  height: 90vh; 
  margin-left: auto; 
  margin-right: auto; 
  background-color:red; 
} 
.imgMe{
  padding-top: 1%;
  height: auto;
  width: 250px;
  position: absolute;
  bottom:0px;
  right: 0px;
  
  
}
.pfp{
  margin-top: auto;
  margin-bottom: auto;
  padding-left:10px;
  transform: translateY(2px);
  height: auto;
  width: 70px;
  padding-top: 5px;
  
}
#footer 
{ 
  padding-left: 3%;
  height:2%;
  padding-bottom: 2%; 
}
#banner
{ 
  height:100px; 
  padding-top: -5%;
  background-color: #212A31; 
  
} 
.Contact{
 
  
}

nav{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav h4 {
  
  width: auto;
  height: 40%;
  font-size: 30px;
  
  
 
  margin-bottom: 30px;
}
nav h4 a{
  color: white;
}
.Intro h1, h3{
  transform: translateY(-100px);
}
.Intro{
  color: white;
  padding-left: 10px;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: auto;
  

  
}
header{
  position:top;
}
.icons a, .icon{
  color:white;
  width: 70px;
  transform: translateY(10vh);
}
}
