@charset "UTF-8"; /* CSS Document */ 
/* The body tag style applies to all elements on the page */ 

    h1.section-title {
      font-size: 6rem;
    }
    .btn {
      padding: 21px 50px;
      font-size: 2.4rem;
    }
  
   
    #home h1 {
      font-size: 7rem;
    }
   
    #projects .projectItem {
      height: 750px;
      width: 100%;
      margin: 0;
      border-radius: 0;
    }
    #projects .projectItem {
      flex-direction: row;
    }
    #projects .allProjects .projectImg {
      height: 100%;
    }
    #projects .allProjects .projectInfo {
      height: 100%;
    }
    #projects .project-item:nth-child(even) {
      flex-direction: row-reverse;
    }
    /* End Project */
  
    


body 
{ 
    background: linear-gradient(#000000, #3C889F); 
    
    font-family: Verdana, Geneva, Arial, sans-serif; 
    padding:0px; 
    margin:0px; 
} 
/* The wrapper ID style is used with a div tag to provide a 960px wide page */ 
#wrapper 
{ 
    width: 1200px;
    height: 655px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color:#265665; 
} 
/* The right-column ID style is floated right */ 
#right-column 
{ 
    float: right; 
    width: 600px;
    height: 600px; 
    background-color:rgb(200,211,219); 
} 
/* The left-column ID style is floated left */ 
#left-column 
{ 
    float: left; 
    width: 360px;
    background-color: rgb(200,211,219); 
    height:600px; 
} 
 

#footer 
{ 
  padding-left: 3%;
    height:80px;
    padding-bottom: 50px; 
}
#banner
{ 
    height:120px; 
    padding-top: -50px;
    background-color: #1B3D47; 
    
} 
.Contact{
    /* margin-top: 0px; */
    
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav h4 {
    /* transform: translate(50px); */
    border-radius: 5px;
    width: 600px;
    height: 40px;
    font-size: 25px;
    
    background-color:#c8d3db ;
    margin-bottom: 30px;
}
.pfp{
    margin-top: auto;
    margin-bottom: auto;
    padding-left:10px;
    transform: translateY(2px);
    height: auto;
    width: 75px;
    padding-top: 10px;
    
}
.Intro{
    padding-left: 10px;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    
}
.imgMe{
    padding-top: 1%;
    height: auto;
    width: 300px;
    position: absolute;
    margin-left: 65%;
    
}

.clear
{ 
    clear: both; 
}


header{
    position:top;
}